<!DOCTYPE html>
<html>

<head>
  <title>UnAuthorized</title>
  <link>
  <% include ../partials/linksHeader %>
  </link>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container" style="padding-top: 7%;width:30%">
    <h3 style="text-align: center;color: red;">Not authorized to see the details</h3>
    
  </div>
</body>

</html>